@use 'sass:map';

$palette: (
    success: #00c420,
    hazard: #ea0609,
    warning: #ffee00,
    info: #00c4c4,
    exit: #ee6900,
    active: #00ff69,
    inactive: #ff0609,
    neutral: #69efef,
);