@use 'sass:map';
@use '../registry';
@use 'common';

$theme: (
  primary:#f2545b,
  secondary:#a93f55,
  trinary:#19323c,
  primary-compliment:#f3f7f0,
  secondary-compliment:#8c5e58,
  trinary-compliment: #869596
);
$light-base: (
  main: #f8f2f2,
  body: #f0e4e4,
  content: #e5d1d1,
  divider: #ceb5b5
);
$dark-base: (
  main: #272020,
  body: #3c3232,
  content: #514444,
  divider: #ab9b9b
);
$light-palette: map.merge($theme, $light-base);
$dark-palette: map.merge($theme, $dark-base);

@mixin register() {
  @include registry.register-theme('india-light', $light-palette);
  @include registry.register-theme('india-dark', $dark-palette);
}
