@use 'sass:map';

$theme: (
    primary:#edf67d,
    secondary:#f896d8,
    trinary:#ca7df9,
    primary-compliment:#724cf9,
    secondary-compliment:#564592,
    trinary-compliment:#f3c6ab
);

$base: (
    main: #e8e8b2,
    body: #d6d67a,
    content: #c2c261,
    divider: #b3b34b
);

$palette: map.merge($theme, $base);