@use 'sass:map';
@use '../registry';
@use 'common';

$theme: (
  primary:#ef798a,
  secondary:#f7a9a8,
  trinary:#613f75,
  primary-compliment:#e5c3d1,
  secondary-compliment:#988b8e,
  trinary-compliment: #a85c80
);
$light-base: (
  main: #fce3e6,
  body: #fbd5da,
  content: #f9c4cf,
  divider: #ef9dad
);
$dark-base: (
  main: #f4a1aa,
  body: #f7b3bb,
  content: #f9c7cd,
  divider: #fbe1e2
);
$light-palette: map.merge($theme, $light-base);
$light-palette: map.merge($light-palette, common.$palette);
$dark-palette: map.merge($theme, $dark-base);
$dark-palette: map.merge($dark-palette, common.$palette);

@mixin register() {
  @include registry.register-theme('pink-light', $light-palette);
  @include registry.register-theme('pink-dark', $dark-palette);
}
