@use 'sass:map';

$theme: (
    primary:#af3800,
    secondary:#fe621d,
    trinary:#fd5200,
    primary-compliment:#00cfc1,
    secondary-compliment:#00ffe7,
    trinary-compliment:#00e8d5
);

$base: (
    main: #4a1d11,
    body: #602514,
    content: #7e2f19,
    divider: #9d3b21
);

$palette: map.merge($theme, $base);