@use 'sass:map';
@use '../registry';
@use 'common';

$theme: (
  primary:#def2c8,
  secondary:#c5dac1,
  trinary:#bcd0c7,
  primary-compliment:#a9b2ac,
  secondary-compliment:#898980,
  trinary-compliment: #b4bea4
);
$light-base: (
  main: #e4f5dc,
  body: #e9f8c6,
  content: #eefbeb,
  divider: #f4fdf3
);
$dark-base: (
  main: #1a201a,
  body: #2a332a,
  content: #61695c,
  divider: #3e4a3e
);
$light-palette: map.merge($theme, $light-base);
$dark-palette: map.merge($theme, $dark-base);

@mixin register() {
  @include registry.register-theme('tea-light', $light-palette);
  @include registry.register-theme('tea-dark', $dark-palette);
}
