@use 'sass:map';
@use '../registry';
@use 'common';

$theme: (
  primary:#fe4a49,
  secondary:#2ab7ca,
  trinary:#fed766,
  primary-compliment:#e6e6ea,
  secondary-compliment:#f4f4f8,
  trinary-compliment: #ceceb4
);
$light-base: (
  main: #fff7f2,
  body: #ffede3,
  content: #ffe1d4,
  divider: #ffc4b0
);
$dark-base: (
  main: #fff5ee,
  body: #ffe4d8,
  content: #ffd1c2,
  divider: #5f2925
);
$light-palette: map.merge($theme, $light-base);
$dark-palette: map.merge($theme, $dark-base);

@mixin register() {
  @include registry.register-theme('tomato-light', $light-palette);
  @include registry.register-theme('tomato-dark', $dark-palette);
}
