/**
 * center  : Setting to any value except 0 (like 1) aligns items to center.
 * column  : Setting to any value except 0 (like 1) aligns as a column (vs row, default).
 * reverse : Setting to any value except 0 (like 1) reverses the column / row style.
 */
@mixin flex($center: false, $column: false, $reverse: false) {
    display: flex;

    @if $center {
        align-items: center;
    }

    @if $column {
        @if $reverse {
            flex-direction: column-reverse;
        }

        @else {
            flex-direction: column;
        }
    }

    @if $reverse {
        flex-direction: row-reverse;
    }
}

/**
 * Applies `flex` rules and justifies content to `space-between`.
 *
 * center  : Setting to any value except 0 (like 1) aligns items to center.
 * column  : Setting to any value except 0 (like 1) aligns as a column (vs row, default).
 * reverse : Setting to any value except 0 (like 1) reverses the column / row style.
 */
@mixin flex-between($center: false, $column: false, $reverse: false) {
    @include flex($center, $column, $reverse);

    justify-content: space-between;
}

/**
 * Applies `flex` rules and justifies content to `space-evenly`.
 *
 * center  : Setting to any value except 0 (like 1) aligns items to center.
 * column  : Setting to any value except 0 (like 1) aligns as a column (vs row, default).
 * reverse : Setting to any value except 0 (like 1) reverses the column / row style.
 */
@mixin flex-even($center: false, $column: false, $reverse: false) {
    @include flex($center, $column, $reverse);

    justify-content: space-evenly;
}

/**
 * Applies `flex` rules and justifies content to `flex-start`.
 *
 * center  : Setting to any value except 0 (like 1) aligns items to center.
 * column  : Setting to any value except 0 (like 1) aligns as a column (vs row, default).
 * reverse : Setting to any value except 0 (like 1) reverses the column / row style.
 */
@mixin flex-start($center: false, $column: false, $reverse: false) {
    @include flex($center, $column, $reverse);

    justify-content: flex-start;
}

/**
 * Applies `flex` rules and justifies content to `flex-end`.
 *
 * center  : Setting to any value except 0 (like 1) aligns items to center.
 * column  : Setting to any value except 0 (like 1) aligns as a column (vs row, default).
 * reverse : Setting to any value except 0 (like 1) reverses the column / row style.
 */
@mixin flex-end($center: false, $column: false, $reverse: false) {
    @include flex($center, $column, $reverse);

    justify-content: flex-end;
}

/**
 * Applies `flex` rules and justifies content to `center`.
 *
 * center  : Setting to any value except 0 (like 1) aligns items to center.
 * column  : Setting to any value except 0 (like 1) aligns as a column (vs row, default).
 * reverse : Setting to any value except 0 (like 1) reverses the column / row style.
 */
@mixin flex-center($center: false, $column: false, $reverse: false) {
    @include flex($center, $column, $reverse);

    justify-content: center;
}