/**
 * n : Any size measurement like 10px or 10%.
 *   : By default, 0 means `width: 100%`.
 *   : Any other value is subtracted from 100%, where 10px
 *   : becomes `calc(100% - 10px)`.
 */
@mixin wide($n : 0) {
    @if $n ==0 {
        width: 100%;
    }

    @else {
        width: calc(100% - $n);
    }
}

/**
 * n : Any size measurement like 10px or 10%.
 *   : By default, 0 means `height: 100%`.
 *   : Any other value is subtracted from 100%, where 10px
 *   : becomes `calc(100% - 10px)`.
 */
@mixin tall($n : 0) {
    @if $n ==0 {
        height: 100%;
    }

    @else {
        height: calc(100% - $n);
    }
}

/**
 * Applies `wide` and `tall` using the `x` and `y` values respectively.
 *
 * x : Any size measurement like 10px or 10%.
 * y : Any size measurement like 10px or 10%.
 */
@mixin fullsize($x : 0, $y: 0) {
    @include wide($x);
    @include tall($y);
}