@use 'sass:map';

$theme: (
    primary:#f2545b,
    secondary:#a93f55,
    trinary:#19323c,
    pri-comp:#f3f7f0,
    sec-comp:#8c5e58
);

$base: (
    main: #272020,
    body: #3c3232,
    content: #514444,
    divider: #ab9b9b
);

$palette: map-merge($theme, $base);