@use 'sass:map';

$theme: (
    primary:#edf67d,
    secondary:#f896d8,
    trinary:#ca7df9,
    pri-comp:#724cf9,
    sec-comp:#564592
);

$base: (
    main: #272020,
    body: #3c3232,
    content: #514444,
    divider: #ab9b9b
);

$palette: map-merge($theme, $base);