@use 'sass:map';

$theme: (
    primary:#00072d,
    secondary:#001c55,
    trinary:#0a2472,
    pri-comp:#0e6ba8,
    sec-comp:#a6e1fa
);

$base: (
    main: #272020,
    body: #3c3232,
    content: #514444,
    divider: #ab9b9b
);

$palette: map-merge($theme, $base);