@use 'sass:map';

$theme: (
    primary:#af3800,
    secondary:#fe621d,
    trinary:#fd5200,
    pri-comp:#00cfc1,
    sec-comp:#00ffe7
);

$base: (
    main: #272020,
    body: #3c3232,
    content: #514444,
    divider: #ab9b9b
);

$palette: map-merge($theme, $base);