@use 'sass:map';

$theme: (
    primary:#e53d00,
    secondary:#ffe900,
    trinary:#fcfff7,
    pri-comp:#21a0a0,
    sec-comp:#046865
);

$base: (
    main: #272020,
    body: #3c3232,
    content: #514444,
    divider: #ab9b9b
);

$palette: map-merge($theme, $base);