@use 'sass:map';

$theme: (
    primary:#def2c8,
    secondary:#c5dac1,
    trinary:#bcd0c7,
    pri-comp:#a9b2ac,
    sec-comp:#898980
);

$base: (
    main: #272020,
    body: #3c3232,
    content: #514444,
    divider: #ab9b9b
);

$palette: map-merge($theme, $base);