@use 'sass:color';
@use 'sass:math';
@use "../../coloring/color" as coloring;
@use "../../interactive/cursors" as cursors;

$monoHover: 0.2;
$monoDisabled: 0.4;

@mixin apply-bg($clr) {
    background-color: $clr;

    &:not(.nac) {
        color: coloring.color-for-background($clr);
    }
}

@mixin apply-hvr-bg($clr) {
    &.hvr {
        @include cursors.hoverable() {
            @if coloring.useBlackFont($clr) {
                @include apply-bg(coloring.monochrome($clr, -1 * $monoHover));
            }

            @else {
                @include apply-bg(coloring.monochrome($clr, $monoHover));
            }
        }
    }

    &.dis {

        &:disabled,
        .disabled {
            @if coloring.useBlackFont($clr) {
                @include apply-bg(coloring.monochrome($clr, -1 * $monoDisabled));
            }

            @else {
                @include apply-bg(coloring.monochrome($clr, $monoDisabled));
            }
        }
    }
}

@mixin useBackground($color) {
    @include apply-bg($color);
    @include apply-hvr-bg($color);
}

@mixin apply($name, $clr) {
    @if $clr !=null {
        .f-#{$name} {
            @include useBackground($clr);
        }

        .f-#{$name}-c {
            @include useBackground(coloring.compliment($clr));
        }

        .f-#{$name}-i {
            @include useBackground(color.invert($clr));
        }

        @for $i from 1 to 10 {
            $n: math.div($i, 10);

            .f-#{$name}-d#{$i} {
                @include useBackground(coloring.monochrome($clr, -1 * $n));
            }

            .f-#{$name}-l#{$i} {
                @include useBackground(coloring.monochrome($clr, $n));
            }

            $iClr: color.invert($clr);

            .f-#{$name}-d#{$i}-c {
                @include useBackground(coloring.monochrome($iClr, -1 * $n));
            }

            .f-#{$name}-l#{$i}-c {
                @include useBackground(coloring.monochrome($iClr, $n));
            }

            $cClr: coloring.compliment($clr);

            .f-#{$name}-d#{$i}-i {
                @include useBackground(coloring.monochrome($cClr, -1 * $n));
            }

            .f-#{$name}-l#{$i}-i {
                @include useBackground(coloring.monochrome($cClr, $n));
            }
        }
    }
}