@use 'sass:map';

$theme: (
    primary:#ef798a,
    secondary:#f7a9a8,
    trinary:#613f75,
    pri-comp:#e5c3d1,
    sec-comp:#988b8e
);

$base: (
    main: #272020,
    body: #3c3232,
    content: #514444,
    divider: #ab9b9b
);

$palette: map-merge($theme, $base);