@use 'sass:map';

$theme: (
    primary:#fe4a49,
    secondary:#2ab7ca,
    trinary:#fed766,
    pri-comp:#e6e6ea,
    sec-comp:#f4f4f8
);

$base: (
    main: #272020,
    body: #3c3232,
    content: #514444,
    divider: #ab9b9b
);

$palette: map-merge($theme, $base);