/**
 * n : Some percent value from black (0) to white (100).
 * a : Some decimal value from 0 (transparent) to 1 (opaque).
 */
@mixin background-grey($n: 0%, $a: 1) {
    background-color: hsla(0, 0%, $n, $a);
}

/**
 * n : Some percent value from black (0) to white (100).
 * a : Some decimal value from 0 (transparent) to 1 (opaque).
 */
@mixin color-grey($n: 0%, $a: 1) {
    color: hsla(0, 0%, $n, $a);
}

/**
 * clr : Your background color, without it being applied.
 */
@mixin adaptive-color($clr) {
    color: color-for-background($clr);
}