@use 'sass:map';
@use 'sass:color';
@use './functions/color' as *;

@use 'palettes/india' as p_india;
@use 'palettes/mindaro' as p_mindaro;
@use 'palettes/navy' as p_navy;
@use 'palettes/pink' as p_pink;
@use 'palettes/rust' as p_rust;
@use 'palettes/syracuse' as p_syracuse;
@use 'palettes/tea' as p_tea;
@use 'palettes/tomato' as p_tomato;

$palettes: (
    'india_red': p_india.$color_map,
    'mindaro': p_mindaro.$color_map,
    'navy': p_navy.$color_map,
    'pink': p_pink.$color_map,
    'rust': p_rust.$color_map,
    'syracuse': p_syracuse.$color_map,
    'tea_green': p_tea.$color_map,
    'tomato': p_tomato.$color_map
);

/**
 * palette :
 * n       :
 */
@function palette($palette, $n) {
    @return map.get(map.get($palettes, $palette), $n);
}

/**
 * palette :
 * n       :
 */
@function palette-inverse($palette, $n) {
    $clr: palette($palette, $n);

    @return color.invert($clr);
}

/**
 * palette :
 * n       :
 */
@function palette-compliment($palette, $n) {
    @return compliment(palette($palette, $n));
}

//

/**
 * palette :
 * name    :
 * color   :
 */
@function append-palette($palette, $name, $color) {
    @debug 'Add #{$name}:#{$color} to palette #{$palette}.';

    $palettes: map.merge(map.get($palettes, $palette), ($name, $color)) !global;

    @return $palettes;
}

/**
 * name   :
 * colors :
 */
@mixin def-palette($name, $colors...) {
    $i: 0;

    $new_palette: (
    );

@each $color in $colors {
    $new_palette: map.merge($new_palette, ($i: $color));

    $i: $i + 1;
}

$palettes: map.merge($palettes, ($name: $new_palette)) !global;
}