/**
 * radius : Some border radius amount.
 * side   : The side to apply the radius style to.
 *        : Null means "all sides."
 * corder : The corner to apply the radius style to.
 *        : Requires side, combined like "top" and "left."
 *        : Null means "all corners."
 */
@mixin rounded($radius: 10px, $side: null, $corner: null) {
    @if $side {
        @if $corner {
            border-#{$side}-#{$corner}-radius: $radius;
        }

        @else if $side ==top {
            border-top-right-radius: $radius;
            border-top-left-radius: $radius;
        }

        @else if $side ==right {
            border-top-right-radius: $radius;
            border-bottom-right-radius: $radius;
        }

        @else if $side ==bottom {
            border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
        }

        @else if $side ==left {
            border-top-left-radius: $radius;
            border-bottom-left-radius: $radius;
        }
    }

    @else {
        border-radius: $radius;
    }
}

/**
 * Sets border radius to 50%, making square elements circular.
 */
@mixin circular() {
    @include rounded(50%);
}